    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    /* margin: 0; */
    padding: 0;
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    ;
}

h1 {
    color: white;
}

body {
    background-color: #131313;
}

h2 {
    color: steelblue;
}

.review-score {
    background-color: #e6bd09;
    color: white;
    padding: 12px;
}

.media-picture {
    background-image: url(https://th.bing.com/th/id/OIP.E_OpUCBK-oiAPVo5OfU1fgHaEK?pid=ImgDet&rs=1);
    width: 100%;
    height: 400px;
    cd auala background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    a {
        color: yellow;
    }
    p {
        color: #bdbdbd;
    }